@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

/* Contenedor Main */
.contenedorArticulos{
    margin: 10px auto;
    width: 30vw;
}

/* Contenedor Publicar Post */
.PublicarPost{
    display: none;
    padding: 1vh;
    border: 2px solid #454BBF;
    border-radius: 5px;
    position: relative;
    width: 38vw;
    right: 5vw;
    top: 13vh;
    z-index: 9;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Colores para los iconos de la pagina */
svg{
    fill: white;
}

/* Estilos Cuadro de Texto Para Publicar Post */
.PublicarPost input{
    border: 1px solid rgba(128, 128, 128, 0.801);
    border-radius: 5px;
    height: 4vh;
    width: 15vw;

}

.PublicarPost a{
    text-decoration: none;
}

.PublicarPost .LadoIzquierdoPublicar{
    display: inline-block;
}

.PublicarPost .LadoDerechoPublicar{
    width: 53%;
    height: 4vh;
    text-align: right;
    display: inline-block;
}

/* Contenedor post de ejemplo ya publicados */
.PostPublicados{
    margin: 10px auto;
    background-color: #958BD9;
    border-radius: 5px;
    padding: 1vh;
    position: relative;
    width: 38vw;
    right: 5vw;
    top:12vh;
    z-index: 9;
}

/* Estilos posts ya publicados */
.PostPublicados img{
    width: 38vw;
}

.PostPublicados h3{
    font-family: "TypnicHeadlineSlab";
    color: white;
}

.PostPublicados p{
    color: white;
    font-family: "Regular";
}

/* Estilos Header post publicados */

.headerPostPublicados{
    padding: 1vh;
    display: inline-block;
}

.headerPostPublicados img{
    width: 60px;
}

.espacioImg{
    width: 8%;
    display: inline-block;
}

.espacioTitulo{
    padding-left: 10px;
    width: 85%;
    display: inline-block;
}
.espacioTitulo h3{
    margin: 0;
}

/* Estilos Botones: Comentar, Compartir, Guardar */
.BotonesAccionPost{
    border-top: 1px solid #454bbfd4;
    padding: 1vh;
}

.BotonesAccionPost ul{
    padding: 0;
    margin: 0;
}

.BotonesAccionPost ul li{
    padding-right: 5px;
    list-style:none;
    display: inline-block;
}

.BotonesAccionPost ul li a{
    font-family: "Regular";
    text-decoration: none;
    color: white;
}