@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

/* Contenedor Main */
.contenedorArticulos{
    margin: 10px auto;
    width: 30vw;
}

/* Contenedor Publicar Post */
.PublicarPost{
    display: none;
    padding: 1vh;
    border: 2px solid #454BBF;
    border-radius: 5px;
    position: relative;
    width: 38vw;
    right: 5vw;
    top: 13vh;
    z-index: 9;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Colores para los iconos de la pagina */
svg{
    fill: white;
}

/* Estilos Cuadro de Texto Para Publicar Post */
.CuadroTexto{
    border: 1px solid rgba(128, 128, 128, 0.801);
    border-radius: 5px;
}

.PublicarPost a{
    text-decoration: none;
}

.PublicarPost .LadoIzquierdoPublicar{
    display: inline-block;
}

.PublicarPost .LadoDerechoPublicar{
    width: 53%;
    height: 4vh;
    text-align: right;
    display: inline-block;
}

/* Contenedor post de ejemplo ya publicados */
.PostPublicados{
    margin: 10px auto;
    background-color: #958BD9;
    border-radius: 5px;
    padding: 1vh;
    position: relative;
    width: 38vw;
    right: 5vw;
    top:14vh;
    z-index: 9;
}

/* Estilos posts ya publicados */
.PostPublicados img{
    width: 38vw;
}

.PostPublicados h3{
    font-family: "TypnicHeadlineSlab";
    color: white;
}

.PostPublicados p{
    color: white;
    font-family: "Regular";
}

/* Estilos Header post publicados */

.headerPostPublicados{
    padding: 1vh;
    display: inline-block;
}

.headerPostPublicados img, .cajaComentarios img{
    width: 60px;
}

.espacioImg{
    width: 8%;
    display: inline-block;
}

.espacioTitulo, .espacioCajaTexto{
    padding-left: 10px;
    width: 85%;
    display: inline-block;
}
.espacioTitulo h3{
    margin: 0;
}

/* Estilos Botones: Comentar, Compartir, Guardar */
.BotonesAccionPost{
    border-top: 1px solid #454bbfd4;
    padding: 1vh;
}

.BotonesAccionPost ul{
    padding: 0;
    margin: 0;
}

.BotonesAccionPost ul li{
    padding-right: 5px;
    list-style:none;
    display: inline-block;
}

.BotonesAccionPost ul li a{
    font-family: "Regular";
    text-decoration: none;
    color: white;
}
.valorar a:hover, .comentarios a:hover, .compartir a:hover{
    color: #454BBF;
}
/* Estilos Caja de Comentarios */

.cajaComentarios{
    width: 97%;
    background-color: #454bbf45;
    padding: 1vh;
    border-radius: 5px;
}

.espacioCajaTexto input{
    height: 4vh;
    width: 100%;
}

.btn-publicar{
    margin-top: 7px;
    margin-bottom: 1vh;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Regular";
    background-color: #F229BD;
    position: relative;
    left: 27vw;
}

.btn-publicar:hover{
    background-color: #d42ba7;
}

.ImgComentarios{
    position: relative;
    bottom: 1vh;
}

.TituloComentarios h3{
    margin: 0;
}

.TituloComentarios{
    height: 3vh;
    border-bottom: solid 1px rgba(255, 255, 255, 0.512);
    margin-bottom: 1vh;
}
/* Caja de los comentarios ya publicados */
.comentariosPub{
    font-size: 17px;
    border-top: solid 1px rgba(255, 255, 255, 0.512);
    padding-top: 2vh;
}

.comentariosPub p{
    margin: 0 0 5px 10px;
}

.espacioCajaComentario{
    position: relative;
    bottom: 3vh;
    display: inline-block;
    margin: 0;
}