@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);


.contenidoperfilgeneral {

    position: absolute;
    left:60vh;
    top: 1vh;
    height: auto;

}

section.Miperfil {

    margin: 5px auto;
    background-color: #958BD9;
    border-radius: 5px;
    padding: 1vh;
    position: relative;
    width: 38vw;
    height: 60vh;
    left: -1vh;
    top: 13vh;
    font-family: "Regular";

}

button.Editar {

    background-color: #fb34d3;
    border-color: #fb34d3;
    color: whitesmoke;
    position: relative;
    left: 50%;
    bottom: 25%;
    border-radius: 8px;
    padding: 4px;

}

.fotoperfil {

    width: 10vw;
    height: 19vh;
    position: relative;
    left: 5%;
    bottom: 15%;
    z-index: 11;

}

.portada {
    width: 38vw;
    height: 25vh;
    position: relative;
    z-index: 10;
}

section.datosp h2 {

    color: rgb(212, 205, 205);
    margin: 1px;
    font-size: 12px;
}

section.datosp h1 {
    margin: 1px;
    font-size: 18px;
}

section.datosp {

    color: whitesmoke;
    position: relative;
    text-align: left;
    left: 1%;
    bottom: 16%;
    padding: 1px;
    font-family: "Regular";


}

section.inf {

    color: whitesmoke;
    position: absolute;
    right: 6%;
    bottom: 32%;
    padding: 5px;
    font-size: 15px;
}

section.inf p {

    margin: 2px;
    padding: 1px;
}

.Botonesperfil {

    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 2fr);
    bottom: 5vh;
    border-top: 1px solid #454bbfd4;
    padding: 1vh;

}

.Botonesperfil svg {
    fill: white;
    align-items: center;
}

.botonp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    color: whitesmoke;
    font-family: "Regular";
}

/* Contenedor Main */
.contenedorArticuloss {
    margin: 10px auto;
    width: 30vw;
    display: relative;
}

/*CONTENIDOS DE LAS CITAS*/

.contenidodos {
    position: relative;
    width: 81vh;
    right: 1vh;
    top: 13vh;
    height: 10vh;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 20vh);
    gap: 1vh
}

.Contenidotres {
    position: relative;
    width: 81vh;
    right: 1vh;
    top: 13vh;
    height: 10vh;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 20vh);
    gap: 1vh
}
.fotomin {

    height: 8vh;
    width: auto;
    padding: 10px;

}
.tituloscitas {

    position: relative;
    bottom: 11vh;
    left: 12vh;
    font-size: 25px;
}

.textocita {

    position: relative;
    top: -13vh;
    left: 12vh;
    font-size: 18px;
    text-align: justify;

}




.cita {

    background-color: #958BD9;
    border-radius: 10px;
    
}

/* Contenedor Publicar Post */
.PublicarPosts {
    display: none;
    padding: 1vh;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    width: 38vw;
    right: 5vw;
    top: 13vh;
    z-index: 9;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Colores para los iconos de la pagina */
svg {
    fill: white;
}

/* Estilos Cuadro de Texto Para Publicar Post */
.PublicarPosts input {
    border: 1px solid rgba(128, 128, 128, 0.801);
    border-radius: 5px;
    height: 4vh;
    width: 15vw;

}

.PublicarPosts a {
    text-decoration: none;
}

.PublicarPosts .LadoIzquierdoPublicar {
    display: inline-block;
}

.PublicarPosts .LadoDerechoPublicar {
    width: 53%;
    height: 4vh;
    text-align: right;
    display: inline-block;
}


/* Contenedor post de ejemplo ya publicados */
.PostPublicadoss {
    margin: 10px auto;
    background-color: #958BD9;
    border-radius: 5px;
    padding: 1vh;
    position: relative;
    width: 38vw;
    right: 5vw;
    top: 12vh;
    z-index: 9;
}

/* Estilos posts ya publicados */
.PostPublicadoss img {
    width: 38vw;
}

.PostPublicadoss h3 {
    font-family: "TypnicHeadlineSlab";
    color: white;
}

.PostPublicadoss p {
    color: white;
    font-family: "Regular";
}

/* Estilos Header post publicados */

.headerPostPublicadoss {
    padding: 1vh;
    display: inline-block;
}

.headerPostPublicadoss img {
    width: 60px;
}

.espacioImg {
    width: 8%;
    display: inline-block;
}

.espacioTitulos {
    padding-left: 10px;
    width: 85%;
    display: inline-block;
}

.espacioTitulos h3 {
    margin: 0;
}


/* Estilos Botones: Comentar, Compartir, Guardar */
.BotonesAccionPosts {
    border-top: 1px solid #454bbfd4;
    padding: 1vh;
}

.BotonesAccionPosts ul {
    padding: 0;
    margin: 0;
}

.BotonesAccionPosts ul li {
    padding-right: 5px;
    list-style: none;
    display: inline-block;
}

.BotonesAccionPosts ul li a {
    font-family: "Regular";
    text-decoration: none;
    color: white;
}


/* Estilos Botones: Comentar, Compartir, Guardar  en las citas*/
.BotonesAccionPostpC {
    border-top: 1px solid #454bbfd4;
    padding: 1vh;
    position: relative;
    bottom: 12vh;
    

}

.BotonesAccionPostpC ul {
    padding: 0;
    margin: 0;
}

.BotonesAccionPostpC ul li {
    padding-right: 5px;
    list-style: none;
    display: inline-block;
}

.BotonesAccionPostpC ul li a {
    font-family: "Regular";
    text-decoration: none;
    color: white;
}