

@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);


.sidebar {

   position: relative;
   width: 15vw;
   height: 90vh;
   background: #0D0D0D;
   top: 14vh;
   z-index: 10;
   margin: 0;
}

.sidebar ul {

   font-weight: bold; 
   border-radius: 5px;
   font-family: "TypnicHeadlineSlab";
   bottom:180px;
   padding:0;
}

.sidebar ul a {
   line-height: 80px;
   font-size:  15px;
   color: white;
   border-top: 10px;
   font-family: "TypnicHeadlineSlab";
   margin-left: 35px;
}



.fotoperfil {
   border-radius: 50%;
   height:100px;
   width: 100px;
   padding:10px;
   border: 1px solid #666;
}


.perfil {
   position:relative;
   display:grid;
   grid-template-columns: 1fr 1fr;
   height: 200px;
   padding: 20px 0 0 0;
   bottom:0px;
}

.registro {
   color:white;
   font-size: 16px;
   font-family:Arial, Helvetica, sans-serif;
}

.buttonNav {
   display:flex;
   justify-content: space-between;
   width:100%;
   align-items: flex-start;
   background-color: #0D0D0D;
   transition: 1s;
   border:none;
   
   
}

.buttonNav:hover {
   background-color: rgb(0, 0, 0);
  
}
/*
.menu-toggle {
   cursor:pointer;
   position:fixed;
   top:20px;
   left:20px;
   z-index: 1px;
}
/*

/*
.bar {
   width:25px;
   height:3px;
   background-color: white;
   margin: 5px;

}
/*

/*#sidebar {
   background-color: black;
   color:white;
   width:0;
   height:100%;
   position:fixed;
   top:0;
   left:-250px;
   transition: left 0.3s;
   z-index: 0;
}*/
