@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);
main{
    height: 300vh;
 }

* {
    list-style: none;
    text-decoration: none;
}

.asidepadre{
    height: 200vh;
    position: absolute;
    left:70vw;
    top: 53vh;
}
.contenedorFooter svg{
    fill: rgb(255, 255, 255);
}

.contenedorFooter {
    position: sticky;
    padding: 1vh;
    top: 15vh;
    margin-top: 2vh;
    background-color: #958BD9;
    border-radius:10px;
}

.botones{
    position: relative;
    right:5vh ;
    background-color: #958BD9;
    padding: 0vh;
    bottom: 1vh;
    margin: 1vh;
    text-align: left;
    width: 35vh;
    height: 3vh;
    border: none;
    transition: all .4s ease-in-out;
}
.botones::before {
    background-color:#5547af;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 300ms ease-in-out;
    display: inline-block;
}

.botones:hover {
    width: 100%;
    background-color: #454BBF;
}

.contenedorFooter a {
    color: white;
    padding: 0;
    margin: 0;
    font-family: "Regular";
   

}

.contenedorFooter h3{
    text-align: center;
    color: white;
}
.contenedorFooter h3:hover{
    color: #5547af;

}

