@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);


aside {
    /*configuracion del contenedor*/
    position: fixed;
    left: 75vw;
    top: 14vh;
    width: 50vh;
    height: 85vh;
    background-color: #958BD9;
    padding: 1vh;
    text-align: center;
    border-radius: 15px 0 0 15px ;
    z-index: 9;
}

aside svg{
    fill: whitesmoke;
}

.seccion1 h2 {
    /*titulo*/
    position: relative;
    font-family: "TypnicHeadlineSlab";
    color: white;
    margin: 1vh;
    padding-left: 6vh;
    padding-top: 1vh;

}

aside a {
    /*textos del navar*/
    color: white;
    text-decoration: none;
    padding: 1vh;
    margin: 0;
    font-family: "Regular";
}

.tendencias nav ul {
    /* opciones del navar*/
    position: relative;
    bottom: 1vh;
    left: 4vh;
    width: 40vh;
    padding: 1VH;
}

/*CONFIGURACION DE BOTONES */
.bsc {
    position: relative;
    background-color: #958BD9;
    padding: 0vh;
    bottom: 1vh;
    margin: 1vh;
    background-repeat: no-repeat;
    width: 35vh;
    height: 3vh;
    color: #fff;
    border: none;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.bsc::before {
    content: "";
    background-color: #454BBF;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 300ms ease-in-out;
    display: inline-block;
}

.bsc:hover::before {
    width: 100%;
}

/*separador*/
.separator {
    position: relative;
    height: 1px;
    background-color: #454BBF;
    margin: 1vh;
    top: -5vh;
    right: 1vh;
    width: 50vh;

}

/*configuracion navr*/
.tumenu {
    top: -12vh;
    position: relative;
    right: 5vh;
    width: 45vh;
    padding: 5vh;

}

/*BOTONES MENU*/
.smenu {
    border: 2px solid #958BD9;
    background-color: #958BD9;
    border-radius: 10px;
    padding: 1vh;
    transition: all ease-in-out 0.1s;
    font-size: 15px;
}

.smenu section {
    justify-content: center;
    align-items: center;
    color: #fff;
}

.smenu:hover {
    background-color: #454BBF;
}