@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

.header-h {
    height: 14vh;
    width: 100%;

    position: fixed;
    background-color: #0D0D0D;
    padding: 0;
    margin: 0;
    top: 0vh;
    z-index: 15;

}

.desenfocado {
    filter: blur(5px); 
}

.contenedor-imagen {
    height: 100%;
    width: 33%;
    margin: 0px;
    position: relative;
}

.imagen-logo {
    padding: 0 15px;
    top: 15%;
    width: 18%;
    position: relative;
}

.nombre-logo {
    color: white;
    left: 3%;
    bottom: 8%;
    width: 23%;
    text-align: center;
    font-size: 23px;
    position: relative;
    border-radius: 20px;
    font-family: "TypnicHeadlineSlab";
}

.imagen-logo,
.simbolo-logo,
.nombre-logo {
    display: inline-block;
    margin: 0;
    color: white;
}

.contenedor-imagen,
.buscar,
.menu {
    display: inline-block;
    margin: 0;
}

.globo-perfil {
    position: absolute;
    right: 2%;
    padding: 20px;
    height: 60%;
    width: 20%;
    top: 0%;
    display: none;
}

.imagen-user,
.nombre-user {
    display: inline-block;
}

.imagen-user {
    top: 6px;
    position: relative;
}

.btn-user {
    height: 80%;
    width: 80%;
    border-radius: 5px;
    background-color: #0D0D0D;
    border: none;
    cursor: pointer;
    position: relative;
    left: 30%;
    top: 16%;
}

.btn-user:hover {
    border: 2px solid white;
}

.user {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    position: relative;
}

.nombre-user {
    font-family: "Regular";
    position: relative;
    margin-left: 5px;
    color: white;
    top: -3px;


}

.user i {
    color: white;
    margin-left: 40px;
    position: relative;
    top: -3px;
}

.burbuja {
    position: relative;
    top: 11%;
    border-radius: 30px;
    border: none;
    background-color: black;
    height: 58%;
    width: 12%;
}

.notificacion {

    right: 65%;


}

.notificacion i {
    left: 0px;
    position: relative;
}

.notificacion:hover {
    border: 2px solid white;
}

.mensaje {

    right: -2%;
    top: -53%;
}

.mensaje i {
    left: 0px;
    position: relative;
}

.mensaje:hover {
    border: 2px solid white;
}


.buscar {
    position: relative;
    width: 18%;
    height: 100%;
    top: 12%;
    right: 13%;
    display: none;
}

.busqueda-btn {
    position: relative;
    left: 25%;
    top: 4%;
}

.buscar input {
    width: 0;
    height: 30%;
    padding: 0 19px;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    position: absolute;
    transition: all 0.6s ease;
}

.btn {
    width: 30px;
    height: 30px;
    line-height: 5px;
    top: -7px;
    left: -9px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

.buscar:hover input {
    width: 400px;
}

.buscar input:focus {
    width: 400px;
}

.inicio-registro {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 30%;
    height: 100%;

}

.inicio,
.registro,
.puntos {
    display: inline-block;
}

.btn-a {
    line-height: 40px;
    text-align: center;
    background-color: #F229BD;
    border-radius: 30px;
    margin-left: 3px;
    position: relative;
    top: 27%;
    left: 28%;
    border: none;
    cursor: pointer;
}

.btn-a:hover {
    border: 2px solid #fb34d3;
}

.inicio {
    width: 30%;
}

.inicio a {
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-family: "TypnicHeadlineSlab";
}

.registro {
    width: 22%;
}

.registro a {
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-family: "TypnicHeadlineSlab";
}

.puntos {
    line-height: 45px;
    margin-left: 10px;
    position: relative;
    top: 27%;
    left: 28%;
    width: 5%;
}

.puntos ul {
    list-style: none;
    position: absolute;
    top: 90px;
    right: 0px;
    padding-inline-start: 0;

}

.puntos ul {
    width: 160px;
    background-color: white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 10;

}

.puntos li:hover>ul {
    top: 36px;
    opacity: 1;
    visibility: visible;
}

.ventana {
    background-color: rgb(255, 255, 255);
    width: 21%;
    padding: 50px;
    min-height: 78vh;
    border-radius: 22px;
    top: 24%;
    right: 36%;
    position: absolute;
    display: none;
}

.informacion-incio {
    height: 100%;
    width: 100%;
    margin: 10px;
}

.pab-i {
    font-size: 25px;
    margin: 0;
}

.acuerdo {
    font-size: 13px;
    margin-top: 10px;
}

i,
.text-google {
    display: inline-block;
}

.google {
    border-radius: 30px;
    position: relative;
    top: 25px;
    background-color: white;
    transition: all 1s ease;
}

.google:hover {
    background: rgb(201, 50, 50);
    color: #fff;

}

i {
    position: relative;
    right: 9%;
}

p {
    font-family: "regular";
    font-size: 16px;

}

i,
.text-facebook {
    display: inline-block;
}

.facebook {
    border-radius: 30px;
    position: relative;
    top: 33px;
    background-color: white;
    transition: all 1s ease;
}

.facebook:hover {
    background: #318aac;
    color: #fff;

}

i {
    position: relative;
    right: 9%;
}

p {
    font-family: "regular";
    font-size: 16px;

}

hr {
    size: 3px;
    color: black;
    top: 60px;
    position: relative;
}

.input-correo {
    top: 90px;
    position: relative;
    height: 50px;
    border-radius: 30px;
}

.correo {
    height: 70%;
    width: 91%;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
}

.input-contraseña {
    top: 110px;
    position: relative;
    height: 50px;
    border-radius: 30px;
}

.contraseña {
    height: 70%;
    width: 91%;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
}

.olvido {
    top: 110px;
    position: relative;
    font-size: 14px;
}

.ven-ini {
    position: relative;
    top: 120px;
    font-family: "regular";
}

.vent-registro {
    display: block;
    padding: 100px 50px;
    min-height: 65vh;
    display: none;
}

.continue {
    width: 130px;
    height: 40px;
    line-height: 5px;
    background-color: #fb34d3;
    border: 0;
    top: 120px;
    left: 80px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "regular";
    border-radius: 50px;
    cursor: pointer;

}

.pregunta {
    top: 130px;
    position: relative;
    left: 23px;
}

.pregunta a {
    cursor: pointer;
}

.cerrar {
    cursor: pointer;
}

/*Estructura para los post*/

.pubPost {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 90%;
    right: 10px;
    height: 40px;
    position: relative;
    background-color: #fb34d3;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: none;
    top: 50px;
    transition: all 1s ease;

}

.pubPost:hover {
    background-color: black;
    border: white 3px solid;

}

.lineaDeco {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 58vw;
    height: 60vh;
    border: black 3px solid;
    border-radius: 10px;
    left: 19%;
    top: 25%;
    z-index: 1000;

}

.emergentePost {
    display: flex;
    flex-direction: column;
    height: 96%;
    width: 98%;
    background-color: #0D0D0D;
    position: relative;
    border-radius: 10px;
    margin: 10px;




}

.headerPost {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 12%;


}

.lineaPost {
    margin: 0 5%;
    position: relative;
    top: 1%;


}

.textPost {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "TypnicHeadlineSlab";
    font-size: 19px;
    color: #fff;
    margin: 0 5%;
}

/*main post*/

.mainPost {
    display: grid;
    grid-template: 28px 30px 25px 25vh / repeat(3, 33%);
    align-items: center;
    justify-content: center;
    margin: 18px 35px 35px 35px;
    row-gap: 8px;
    column-gap: 5px;
}


.btnPost {
    display: grid;
    background-color: #fb34d3;
    color: white;
    font-family: "TypnicHeadlineSlab";
    cursor: pointer;
    border-radius: 3px;

}

.btnPost:hover {
    border: 2px solid #fb34d3;


}


.postP {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: 20px;

}

.imgPost {

    grid-column: 2 / 3;
    grid-row: 1/ 2;


}

.linkPost {
    grid-column: 3 / 4;
    grid-row: 1/ 2;
    margin-right: 20px;

}

/*estilos PostText*/

.textPostCambiar {
    grid-column: 1/4;
    position: relative;
    top: 7rem;
    display: grid;
}

.titlePost {
    width: 94%;
    height: 27px;
    margin: 0 20px;
    border-radius: 5px;
    font-family: "Regular";
    outline: none;

}

.bodyPost {
    display: grid;
    grid-template: 15% 85%/ 1fr;
    height: 100%;
    margin: 0 20px;


}

.separadorPost {
    display: grid;
    grid-template-columns: repeat(7, 5%);
    justify-content: center;
    margin: 5px 20px 7px 20px;
    height: 25px;
    background-color: #454545;
    border: none;

}

.spanCambioN {
    grid-column: 1/2;
    grid-row: 1/2;

}

.spanCambioI {
    grid-column: 2/3;
    grid-row: 1/2;

}

.spanCambioS {
    grid-column: 3/4;
    grid-row: 1/2;

}

.spanCambioL {
    grid-column: 4/5;
    grid-row: 1/2;

}

.spanCambioT {
    grid-column: 5/6;
    grid-row: 1/2;

}

.spanCambioLp {
    grid-column: 6/7;
    grid-row: 1/2;

}

.spanCambioLn {
    grid-column: 7/8;
    grid-row: 1/2;

}

.btnCambioP {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #454545;
    border: none;
    cursor: pointer;
    color: white;
}

.btnCambioP:hover {
    background-color: #6a6a6a;
    border-radius: 5px;

}

.cambioColor {
    color: #0D0D0D;
}

.bold {
    font-weight: bolder;
}

.italica {
    font-style: italic;
}

.subrayado {
    text-decoration: line-through;

}

.textPo {
    font-family: "Regular";
    grid-row: 1/ 3;
    border-radius: 2px;
    bottom: 7px;
    position: relative;
    outline: none;

}



.postear:hover {
    border: 2px solid #ffffff;
}

/*estilos PostImg*/

.imgPostCambiar {
    display: none;
    grid-template-rows: 30px;
    grid-row: 2/5;
    grid-gap: 8px;
    height: 100%;
    grid-column: 1/4;
}

.subirImg {
    display: flex;
    grid-column: 1/2;
    width: 94.5%;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
}

.file-select {
    position: relative;
    display: inline-block;
}

.file-select::before {
    background-color: #000000;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    content: 'Subir';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 5rem;
    height: 2rem;
    display: inline-block;

}

#src-file1::before {
    content: 'Subir';
    font-family: "regular";
}

.textoImg {
    font-size: 1.2rem;
    color: white;
    margin-right: 20px;
    font-family: "regular";
}


/*footerPost*/
.footerPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 10vh;
    bottom: 25px;
    margin: 0 52px;
}


.postear {
    margin-right: 0%;
    cursor: pointer;
    border: none;
    background-color: #fb34d3;
    color: white;
    height: 60%;
    width: 15%;
    font-family: "regular";
    border-radius: 20px;

}

.selectPoPr {
    display: flex;
    align-items: center;
    width: 15%;
    height: 65%;
}

.pubOpriv {
    width: 100%;
    height: 90%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0 8px;
    font-family: "regular";


}

/*estilos PostUrl*/

.lineaDeco2 {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 58vw;
    height: 45vh;
    border: black 3px solid;
    position: absolute;
    border-radius: 10px;
    left: 20%;
    top: 32%;

}

.footerPostdo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 3rem;
    bottom: 40px;

}
.mainPostDos{
    display: grid;
    grid-template: 28px 30px 25px 13vh / repeat(3, 33%);
    align-items: center;
    justify-content: center;
    margin: 18px 35px 35px 35px;
    row-gap: 8px;
    column-gap: 5px;
}

.urlPostCambiar {
    display: none;
    grid-template-rows: 30px;
    grid-row: 2/5;
    grid-gap: 8px;
    height: 100%;
    grid-column: 1/4;
}

.subirUrl{
    display: grid;
    grid-column: 1/2;
    width: 94.5%;
    margin: 0 20px;
    border-radius: 5px;

}

.src-url{

    height: 50%;
    width: 99.5%;
    outline: none;
    border-radius: 3px;
    font-family: "regular";
}

