@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);

.header-h{
    height: 14vh;
    width: 100%;

    position:fixed;
    background-color: #0D0D0D;
    padding: 0;
    margin: 0;
    top: 0vh;
    z-index: 15;

}

.contenedor-imagen{
    height: 100%;
    width: 33%;
    margin: 0px;
    position: relative;  
}

.imagen-logo{
    padding: 0 15px ;
    top: 15%;
    width: 18%;
    position: relative;
}
.nombre-logo{
    color: white;
    left: 3%;
    bottom: 8%;
    width: 23%;
    text-align: center;
    font-size: 23px;
    position: relative;
    border-radius: 20px;
    font-family: "TypnicHeadlineSlab";
}

.imagen-logo, .simbolo-logo, .nombre-logo{
    display: inline-block;
    margin: 0;
    color: white;
}

.contenedor-imagen, .buscar, .menu{
    display: inline-block;
    margin: 0;
}

.globo-perfil{
    position: absolute;
    right: 0%;
    padding: 20px;
    height:60%;
    width: 30%;
    top: 0%;
    display: none;
}
.imagen-user, .nombre-user{
    display: inline-block;
}

.imagen-user{
    top: 8px;
    position: relative;
}

.btn-user{
    height: 90%;
    border-radius: 5px;
    background-color: #0D0D0D;
    border: none;
    cursor: pointer;
    position: relative;
    left: 53%;
    top:10%;
}

.btn-user:hover{
    border: 2px solid white;
}

.user{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    position: relative;
}

.nombre-user{
    font-family:"Regular";
    position: relative;
    margin-left: 5px;
    color: white;


}

.user i {
    color: white;
    margin-left: 40px;
    position: relative;
}
.burbuja{
    top:11%;
    position: relative;
    border-radius: 30px;
    border:none ;
    background-color: black;
    height: 58%;
    width: 8% ;
}

.notificacion{

    right: 7%;

}
.notificacion i{
    left: 0px;
    position: relative;
}

.notificacion:hover{
    border: 2px solid white ;
}

.mensaje {

    right: 29%;
}
.mensaje i{
    left: 0px;
    position: relative;
}
.mensaje:hover{
    border: 2px solid white ;
}


.buscar {
    position: relative;
    width: 18%;
    height: 100%;
    top: 12%;
    right: 13%;
    display: none;
}

.busqueda-btn{
    position: relative;
    left: 25%;
    top: 4%;
}
  
.buscar input {
    width: 0;
    height: 30%;
    padding: 0 19px;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    position: absolute;
    transition: all 0.6s ease;
}
  
.btn {
    width: 30px;
    height: 30px;
    line-height: 5px;
    top: -7px;
    left: -9px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}
  
.buscar:hover input {
    width: 400px;
}
  
.buscar input:focus {
    width: 400px;
}

.inicio-registro{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 30%;
    height: 100%;
    
}
.inicio, .registro, .puntos{
    display: inline-block;
}

.btn-a{
    line-height: 40px;
    text-align: center;
    background-color: #F229BD;
    border-radius: 30px;
    margin-left: 3px;
    position: relative;
    top: 27%;
    left: 28%;
    border: none;
    cursor: pointer;
}

.btn-a:hover{
    border: 2px solid #fb34d3;
}
.inicio{
    width: 30%;
}

.inicio a{
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-family: "TypnicHeadlineSlab"; 
}

.registro{
    width: 22%;
}

.registro a{
    font-size: 11px;
    text-decoration: none;
    color: white;
    font-family: "TypnicHeadlineSlab"; 
}
.puntos{
    line-height: 45px;
    margin-left: 10px;
    position: relative;
    top: 27%;
    left: 28%;
    width: 5%;
}

.puntos ul{
    list-style: none;
    position: absolute;
    top: 90px;
    right: 0px;
    padding-inline-start: 0;

}
.puntos ul{
    width: 160px;
    background-color: white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 10;
    
}

.puntos li:hover > ul{
    top: 36px;
    opacity: 1;
    visibility: visible;
}

.ventana{
    background-color: rgb(255, 255, 255);
    width: 21%;
    padding: 50px;
    min-height: 78vh;
    border-radius: 22px;
    top: 24%;
    right: 36%;
    position: absolute;
    display: none;
}

.informacion-incio{
    height: 100%;
    width: 100%;
    margin: 10px;
}
.pab-i{
    font-size: 25px;
    margin: 0;
}
.acuerdo{
    font-size: 13px;
    margin-top: 10px;
}

i, .text-google{
    display: inline-block;
}
.google{
    border-radius: 30px;
    position: relative;
    top:25px;
    background-color: white;
    transition: all 1s ease;
}
.google:hover{
    background: rgb(201, 50, 50);
    color: #fff;

}
i{
    position:relative;
    right: 9%;
}

p{
    font-family: "regular";
    font-size: 16px;

}
i, .text-facebook{
    display: inline-block;
}
.facebook{
    border-radius: 30px;
    position: relative;
    top:33px;
    background-color: white;
    transition: all 1s ease;
}
.facebook:hover{
    background: #318aac;
    color: #fff;

}
i{
    position:relative;
    right: 9%;
}

p{
    font-family: "regular";
    font-size: 16px;

}

hr{
    size: 3px;
    color: black;
    top: 60px;
    position: relative;
}
.input-correo{
    top: 90px;
    position: relative;
    height: 50px;
    border-radius: 30px;
}
.correo{
    height: 70%;
    width: 91%;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
}
.input-contraseña{
    top: 110px;
    position: relative;
    height: 50px;
    border-radius: 30px;
}
.contraseña{
    height: 70%;
    width: 91%;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid black;
    font-weight: bold;
}
.olvido{
    top:110px;
    position: relative;
    font-size: 14px;
}
.ven-ini {
    position: relative;
    top: 120px;
    font-family: "regular";
}
.vent-registro{
    display: block;
    padding: 100px 50px;
    min-height: 65vh;
    display: none;
}

.continue{
    width: 130px;
    height: 40px;
    line-height: 5px;
    background-color: #fb34d3;
    border: 0;
    top: 120px;
    left: 80px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "regular";
    border-radius: 50px;
    cursor: pointer;

}

.pregunta{
    top:130px;
    position: relative;
    left: 23px;
}

.pregunta a{
    cursor: pointer;
}

.cerrar{
    cursor: pointer;
}

/*Estructura para los post*/

.pubPost{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 90%;
    right: 10px;
    height: 40px;
    position: relative;
    background-color: #fb34d3;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: none;
    top: 50px;
    transition: all 1s ease;

}

.pubPost:hover{
    background-color:black ;
    border: white 3px solid;

}

.lineaDeco{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 63vw;
    height: 62vh;
    border: black 3px solid;
    position: absolute;
    border-radius: 10px;
    left: 17%;
    top: 25%;
    display: none;


}

.emergentePost{
    display: flex;
    flex-direction: column;
    height: 96%;
    width: 98%;
    background-color: #0D0D0D;
    position: relative;
    border-radius: 10px;
    margin: 10px;




}
.headerPost{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 12%;


}

.lineaPost{
    margin: 0 5%;
    position: relative;
    top: 1%;
    

}

.textPost{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "TypnicHeadlineSlab" ;
    font-size: 19px;
    color: #fff;
    margin: 0 5%;
}

/*main post*/

.mainPost{
    display: grid;
    grid-template: 28px 30px 29vh  / repeat(3,33%);
    align-items: center;
    justify-content: center;
    margin: 18px 35px 35px 35px;
    row-gap: 8px;
    column-gap: 5px;
}


.btnPost{
    display: grid;
    background-color: #0D0D0D;
    color: white;
    border: 1px solid rgb(181, 181, 181);
    font-family: "TypnicHeadlineSlab" ;
    cursor: pointer;
    border-radius: 3px;
}
.btnPost:hover{
    background-color: #fb34d3;


}


.postP{

    grid-column: 1 / 2;
    grid-row: 1 / 2;

}

.imgPost{

    grid-column: 2 / 3;
    grid-row: 1/ 2;


}

.linkPost{
    grid-column: 3 / 4;
    grid-row: 1/ 2;

}
.titlePost{
    grid-column: 1/4;
    height: 27px;
    margin: 0 20px;
    border-radius: 5px;
    font-family: "Regular";
}

.bodyPost{
    display: grid;
    grid-template: 30px 100%/ 1fr;
    grid-column: 1 / 4;
    height: 100%;
    margin: 0 20px;

}

.separadorPost{
    grid-row: 1 / 2;
    background-color: #454545;
    border: none;
}

.textPo{
    font-family: "Regular";
}
