
    
.sidebar {
    position:fixed;
    left: 0;
    width: 250 px;
    height: 100%;
    background:#384AA4;

}

.sidebar header {
    margin:0;
    width:10vw;
    padding: 80px;
    font-size:30px;
    color:white;
    text-align: center;
    line-height: 20px;
    background: #384AA4;
    }

    .sidebar ul a {
        display:block;
        height: 30px;
        width:100%;
        line-height: 80px;
        font-size: 20px;
        color:white;
        padding-left:80px;
        box-sizing: border-box;
        border-top: 10px 

        }

   

