@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);


.header-h{
    height: 14vh;
    width: 100%;
    border-radius: 15px;
    position:fixed;
    background-color: #BBD8F2;
    padding: 0;
    margin: 0;
    top: 0vh;
    z-index: 15;

}

.contenedor-imagen{
    height: 100%;
    width: 33%;
    margin: 0px;
    position: relative;  
}

.imagen-logo{
    padding: 0 15px ;
    top: 15%;
    width: 18%;
    position: relative;
}
.nombre-logo{
    left: 3%;
    bottom: 8%;
    width: 23%;
    text-align: center;
    font-size: 23px;
    position: relative;
    border-radius: 20px;
    font-family: "TypnicHeadlineSlab";
}


.imagen-logo, .simbolo-logo, .nombre-logo{
    display: inline-block;
    margin: 0;
}


.contenedor-imagen, .buscar, .menu{
    display: inline-block;
    margin: 0;

}


.buscar {
    position: relative;
    width: 18%;
    height: 100%;
    top: 15%;
    right: 12%;

}
  
.buscar input {
    width: 0;
    height: 37%;
    padding: 0 19px;
    font-size: 18px;
    color: #000000;
    border-radius: 30px;
    position: absolute;
    transition: all 0.6s ease;



}
  
.btn {
    width: 30px;
    height: 30px;
    line-height: 5px;
    top: -7px;
    left: -9px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;

}
  
  
.buscar:hover input {
    width: 400px;
}
  
.buscar input:focus {
    width: 400px;
}


.menu{

    position:  absolute;
    height: 100%;
    width: 42%;
    right: -2%;
    

}

.menu ul{
    list-style: none;
    height: 100%;
    position: relative;
    padding-inline-start: 0;
    font-family: "Regular";

}

.menu ul li{

    display: inline-block;
    background: #BBD8F2;
    margin: 0 8px;

}



.menu ul .servicios li{

    display: inline-block;
    background: #ffff;
    left:-110px;


}
.menu ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 75px;
    font-size: 20px;
    font-family: "Regular";
}

.menu ul li a:hover{
    color: #0404e2;
    box-shadow: 0 0 5px #ff44d4,
                0 0 5px cyan;
    border-radius: 10px;

}
.menu ul ul{
    position: absolute;
    top: 90px;
    padding-inline-start: 0;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 10;
}

.menu ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;


}

.menu ul ul li{
    position: relative;
    width: 11vw;
    background-color: #ffff;
    float: none;
    display: list-item;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;


}

.menu ul ul li a{
    font-size: 19px;
}

.menu ul ul ul li{
    position: relative;
    top: -40px;
    left: 150px;
    background-color: #ffff;
    border-radius: 5px;


}
.menu ul ul ul li a{
    font-size: 15px;

}
