@import url(https://db.onlinewebfonts.com/c/ce0326bb829449f42eedc2a38e45ef26?family=TypnicHeadlineSlab);
@import url(https://db.onlinewebfonts.com/c/e695a2b548e145591a266fc50eb492e0?family=Regular);


* {
   
    list-style: none;
    text-decoration: none;

}
footer{
    position: absolute;
    right: 0;
    width: 50vh;
    height: 40vh;
    background-color: #958BD9;
    padding: 1vh;
    border-radius: 15px 0 0 15px ;
    text-align: left;
}

footer svg{
    fill: whitesmoke;
}

.boton{
    position: relative;
    background-color: #958BD9;
    padding: 0vh;
    bottom: 1vh;
    margin: 1vh;
    background-repeat: no-repeat;
    width: 35vh;
    height: 3vh;
    color: #fff;
    border: none;
    transition: all .4s ease-in-out;
}
.boton::before {
    content: "";
    background-color: #454BBF;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 300ms ease-in-out;
    display: inline-block;
}
footer a {

    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Regular";
}
h3{
    text-align: center;
    color: white;
}